[Desktop Entry]
Name=Webamp desktop
Exec=webamp-desktop %U
Terminal=false
Type=Application
Icon=icon
StartupWMClass=Webamp desktop
Comment=Desktop version of Winamp 2.9 reimplementation in HTML5 and JS
Categories=AudioVideo;
